@model IEnumerable<Entitites.Reguest>

@{
    ViewData["Title"] = "Index";
}

<h1>Emails</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table  class="table">
    <thead>
        <tr>
              <th>
                    #
            </th>

              <th>
                @Html.DisplayNameFor(model => model.Name)
                               
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TeamId)
            </th>

             <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

    
            <th>
            @Html.DisplayNameFor(model => model.ServiceId)
            </th>
           
         

            <th>
                    @Html.DisplayNameFor(model => model.ReguestTime)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var count = 0;
        }
        @foreach (var item in Model)
        {
            count++;
            <tr>
                  <td>
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team.Name)
                </td>
              
                   
                 <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Service.ServiceName)
                </td>
             
      
              
                <td>
                    @Html.DisplayFor(modelItem => item.ReguestTime)
                </td>
              
                <td>
                     <a class="btn btn-info" href="/AdminPanel/Reguest/Details/@item.Id">Read Email</a>
                  
                   
                </td>
            </tr>
        }
    </tbody>
</table>
