@model IEnumerable<Entitites.Rating>

@{
    ViewData["Title"] = "Rating Index";
}

<h1>Rating Index</h1>

<p>
    <a style="color: green;" class="btn btn-success form-control" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Background)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>



            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var count = 0;
        }

        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>
                    <img width="100" height="110" style = "object-fit:cover" src=" @Html.DisplayFor(modelItem => item.AuthorPhoto)" />
                </td>
                <td class="align-items-center">
                    <div style="background-color: @Html.DisplayFor(modelItem => item.Background); width: 40px; height: 40px; border-radius: 100px;"></div>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Service.ServiceName)
                </td>

                <td>
                <td class="d-flex align-items-center">
                    <a class="btn btn-warning me-2" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen"></i></a> &nbsp; &nbsp;
                  @*  <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a> &nbsp; &nbsp;*@
                     <form id="courseRemove" method="post" asp-action="Delete">
                        <input type="hidden" value=@item.Id name="Id" />
                        <button class="btn btn-danger btn-delete"><i class="fa-solid fa-trash-can"></i></button>
                    </form> &nbsp; &nbsp;
                    <a class="btn btn-info" href="/AdminPanel/Rating/Details/@item.Id">Details</a>
                </td>
                </td>
            </tr>
        }
    </tbody>
</table>


  @section MyScripts{
         <script>
             $(".btn-delete").on("click", function(e){
                 e.preventDefault()
                 var yesNo = confirm("Are you sure you want to delete this item?")
                 if(yesNo){
                     $(this).parents("#courseRemove").submit();
                 }
             })
         </script>
     }

